body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{ margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6{ font-size: 100%; font-weight: normal; font-family: "微软雅黑"; }
input,button,textarea,select{ *font-size: 100%; border:none;}
body{ background-color: #CCCCCC; color:#333333; font: 14px/2em "微软雅黑",Arial;text-decoration: none;}
ol,ul{ list-style: none; }
h2 { font-size: 20px; }
h1{ font-size: 30px;}
.l {
  float: left;
}
.r {
  float: right;
}
.hide {
  display: none;
}
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.page-container {
  margin: 0 auto;
  width: 100%;
}
.container {
  width: 100%;
  margin: 0 auto;
}
#main {
  min-height: 750px;
  padding: 20px 0;
  position: relative;
}
.waper {
  width: 100%;
  margin: 0 auto;
}
#header {
  background: #66CCCC;
  text-decoration: none;
}
#nav {
  height: 60px;
  position: relative;
  z-index: 1000;
  text-decoration: none;
}
#nav a{text-decoration: none;}
.logo {
  float: left;
}
#logo a,
.logo a {
  display: block;
  height: 60px;
  width: 140px;
  background: url(logo.png) no-repeat  center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.nav-item li {
  float: left;
  width: 100px;
  transition:1s;
}
.nav-item li:hover{ width: 120px;}
.nav-item li:first-child{ margin-left: 150px;}
.nav-item a {
  display: block;
  color: #787d82;
  text-align: center;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  transition:1s;
}
.nav-item a:hover {
  color: #333333;
  background-color: yellow;
}
.login{ float: right;width: 50px;height:10px;margin: 15px 15px;color: #fff;transition:1s;}
.login a{ color: #787d82;transition:2s;}
.login a:hover{ color: #333333;}
.login:hover{ width: 100px;height: 30px;background-color: yellow;line-height: 30px;text-align: center;}

    
.other-left {
  position: relative;
  margin-left: 10px;
  width: 250px;
  overflow: visible;
  background-color: #fff;
  list-style-type: none;
  box-shadow: 8px 8px 20px #aef;
  transition:2s;
}
#sidebar:hover{
		border-radius: 40px;

	}
.other-left li {
  position: relative;
  width: 250px;
  height: 60px;
  overflow: visible;
  border-bottom: 1px solid #edf1f2;
  transition:1s;
  background-color: #66CCCC;
}
.other-left li:hover{
	background: yellow;
	border-radius: 10px;
	color: #fff;
	height: 80px;
	text-align: 0 auto;
 }
.other-left li:last-child {
  border-bottom: 0 none;
}
.other-left li a {
  position: relative;
  display: block;
  width: 220px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  font-size: 16px;
  color: #787d82;
  text-align: center;
}
.other-left li a span.tip {
  height: 16px;
  border-radius: 10px;
  background-color: red;
  line-height: 16px;
  font-size: 16px;
  color: white;
  padding: 0 10px;
  position: absolute;
  right: 25px;
  top: 23px;
}
.other-left li:hover a {
  color: red;
}
.other-right {
  margin-left: 280px;
  background: #fff;
  overflow: hidden;
  opacity: .9;
  transition:1s;
}
.other-right:hover{ 
	border-radius: 40px;
}
.other-right-wrap {
  position: relative;
  min-height: 750px;
  padding: 20px;

}
.other-right-wrap h1{ display: block; transition:1s;height:100px;line-height: 100px;width: 150px; 
						margin: 40px auto;text-align: center;box-shadow: 1px 1px 10px #bff;
						background-color: #aef;color: #333333;margin-bottom: 40px;
}
.blog-list {
  margin: 20px;
  transition:1s;
}
.item dt{ height: 30px;width: 100%;margin:20px;background-color: #aee;font-size: 24px;box-shadow: 10px 10px 10px;}
.item dd{ height: 40px;width: 100%;background-color:yellow;margin-left: 40px;font-size: 16px;box-shadow: 5px 5px 5px;transition:1s;}
.item dd:hover{ height: 60px;font-size: 20px;background-color: #33ffcc;}

.blog-list:hover{
    background:-moz-linear-gradient(top,yellow,#fff);
    background:-o-linear-gradient(top,yellow,#fff);
    background:-webkit-linear-gradient(top,yellow,#fff);
    background:linear-gradient(top,yellow,#fff);
}
.blog-content{ transition:1s;}
.blog-content:hover{ 
	background:-moz-linear-gradient(top,yellow,#fff);
	background:-o-linear-gradient(top,yellow,#fff);
	background:-webkit-linear-gradient(top,yellow,#fff);
	background:linear-gradient(top,yellow,#fff);
}	
}
.blog-list:hover{ }
.blog-function{ margin-bottom:20px;}
.blog-function li{ margin-left: 20px ; line-height: 20px;}
.blog-content{ margin: 20px;}
#footer {
  background-color: #66CCCC;
  border-top: 1px solid #e2e4e6;
  font-size: 12px;
  color: #5e5e5e;
  min-width: 1200px;
}
.footerwaper{ position: relative;	height: 60px; overflow: hidden;}
.footer_intro {
	margin-top: 15px;
  position: relative;
  float: left;
  border-right: 1px solid #363c41;
  width: 639px;
}
#footer p {
  margin-left: 180px;
  line-height: 1.7;
  float: left;
}
.footer_logo {
  display: block;
  float: left;
  background: url(logo.png) no-repeat center center;  
  height: 60px;
  width: 120px;
  text-indent: 100%;
  overflow: hidden;
}
.footer_link a{ color: #5e5e5e; text-decoration: none;}
.footer_link a:hover {
  color: #fff;
}
#footer .footer_link {
  padding: 15px 0px;
  width: 480px;
  line-height: 1.8;
  float: left;
  overflow: hidden;
  margin-top: -1px;
}
#footer .footer_link li {
	width: 80px;
  	text-align: center;
  	float: left;
  	color: #5e5e5e;
}